#welcomeName{
    color: rgb(238, 182, 130) ;
}
.storeName{
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    color: rgb(238, 182, 130) ;
}

.inputContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

input{
padding: 10px;
border-radius: 10px;
border: 2px solid   rgb(238, 182, 130);
}

button{
    height: 20px;
    border-radius: 2px;
    border: 2px solid   rgb(238, 182, 130);
    cursor: pointer;
    font-size: medium;
}

#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(238, 182, 130);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    background: rgba(128, 128, 128, 0.664);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.527),
                0 0 15px rgba(238, 182, 130, 0.281);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(238, 182, 130, 0.4);
}

.btnContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}
.logoutContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

