*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 215, 215);

}
.container{
    display: flex;
    flex-direction: row;
    
}
.loginContainer{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}
input{
    height: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
button{
    padding: 10px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
